<p>Hi there!</p>

<p>You've been invited to join Caucus Central. Please complete your registration here:</p>

</p><%= link_to 'http://caucuscentral.berniesanders.com/signup/<%= @invitation.token %>', 'http://caucuscentral.berniesanders.com/signup/<%= @invitation.token %>' %></p>

<p>Thanks!</p>
