<p>Hi there!</p>

<p>Someone has triggered a password reset for your Caucus Central account. You can reset your password by going here:</p>

<p><%= link_to "http://caucuscentral.berniesanders.com/reset/#{@token}", "http://caucuscentral.berniesanders.com/reset/#{@token}" %></p>

<p>Thanks!</p>
