<%= stylesheet_link_tag 'email' %>

<div class='header'>
  <img src='https://caucus-central.berniesanders.com/logo.png' width='200' alt='Bernie Sanders for President'>
</div>

<%= yield %>

<div class='footer'>
  <p class='paid-for'>
    Paid for by Bernie 2016
  </p>
  <p class='billionaires'>
    <img src='https://caucus-central.berniesanders.com/billionaires.png' width='195' height='28' alt='(not the billionaires)'>
  </p>
  <p class='address'>
    PO Box 905 - Burlington VT 05402 United States - (855) 4-BERNIE
  </p>
</div>
